.region-header-top {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d7d9;
  & .clearfix {
    display: flex;
    font-weight: 700;
  }
}

.pop-up {
  position: relative;
  margin: 0 50px 0 0;
  & > a {
    color: $main-color-red;
    font-size: 14px;
    &::after {
      content: '';
      background: url(../icons/header/icon-menu-red.png) 0 0 no-repeat;
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 3px;
      left: 45px;
    }
    &:hover {
      color: $main-color-black;
      &::after {
        content: '';
        background: url(../icons/header/icon-menu-black.png) 0 0 no-repeat;
        object-fit: contain;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 3px;
        left: 45px;
      }
    }
  }
}

.search {
  position: relative;
  margin: 0 50px 0 0;
  & > a {
    color: $main-color-red;
    font-size: 14px;
    &::after {
      content: '';
      background: url(../icons/header/icon-search-red.png) 0 0 no-repeat;
      object-fit: contain;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 3px;
      left: 45px;
    }
    &:hover {
      color: $main-color-black;
      &::after {
        content: '';
        background: url(../icons/header/icon-search-black.png) 0 0 no-repeat;
        object-fit: contain;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 3px;
        left: 45px;
      }
    }
  }
}

.branding {

  &__newsweek {
    display: block;
    color: $main-color-red;
    font-family: 'PT Serif', serif;
    font-size: 100px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -5px;
    margin-top: -70px;
  }
  &__pro {
    display: block;
    margin-top: -125px;
    margin-left: 465px;
    color: $main-color-black;
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    line-height: 4.6;
    font-style: italic;
    font-weight: 500;
  }
}

.menu--account {
  & .my_account {
    margin-right: 30px;
    & > a {
      color: $main-color-black;
    }
  }
  & .subscribe {
    & > a {
      display: block;
      color: #ffffff;
      font-size: 14px;
      background: $main-color-red;
      padding: 6px 8px;
      width: 81px;
      height: 20px;
      border-radius: 2px;
    }
  }
}
