.region-header-bottom {
  max-height: 42px;
  max-width: 705px;
  margin: 0 auto;
  font-size: 14px;
  & .views-row {

  }

  & .views-col {

    padding: 0;
    & span > a {
      color: $main-color-black;
      &:hover {
        color: $main-color-red;
      }
    }
  }
}

//hide border after block all tags
.views-view-grid.horizontal .views-row {
  border-bottom: none;
}
