<div class="politics__header">
  <p class="politics__title">
    {{ 'Politics'|t }}
  </p>
  <a href="http://localhost:8001/politics" class="politics__category">{{ 'View all'|t }}</a>
</div>
{{ content }}

