<div class="food-and-travel__header">
  <p class="food-and-travel__title">
    {{ 'Food & travel'|t }}
  </p>
  <a href="http://drupal-camp.localhost:8000/food" class="food-and-travel__category">{{ 'View all'|t }}</a>
</div>
{{ content }}
