<div class="title">
  <span class="title_main">
    {{ 'Celebrity'|t }}
  </span>
  <div class="subtitle">
    {{ 'LifeStyle'|t }}
  </div>
</div>
{{ content }}
<div class="background">
  <i></i>
</div>
