#main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  .layout-main {
    margin-top: 0;
  }
}

.main-content .section {
  padding: 0;
}

a, a.link{
  text-decoration: none;
  border-bottom: none !important;
  color: $main-color-black;
  &:hover {
    color: $main-color-red;
  }
}

p {
  margin-block-end: 0;
}


// Zeroing out the basic grid styles
.views-view-grid .views-col {
  padding: 0;
}
.views-view-grid.horizontal .views-col {
  &:last-child {
    padding: 0;
  }
  &:first-child {
    padding: 0;
  }
}

.main-content h2 {
  font-size: initial;
}
.node .field--type-image {
  float: none;
}

#block-newsweek-page-title {
  display: none;
}

.highlighted {
  margin: 0 auto;
  .layout-container {
    max-width: 1440px;
    padding: 0 10px;
  }
}

.sidebar .block  {
  padding: 0;
  margin-bottom: 0;
  & h2 {
    border-bottom: none;
    text-shadow: none;
  }
}
