@mixin footer-content-title {
  font-family: Work Sans;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 10px;
  color: $main-color-black;
}

@mixin footer-body-flex {
  display: flex;
  flex-direction: column;
}

@mixin exclusive-and-content {
  padding: 0;
  > div, h2 {
    display: inline;
    line-height: 2px;
  }
  .field--name-field-special-content {
    > a {
      display: inline-block;
      margin: -4px 5px 0 0;
      padding: 3px 5px;
      border-radius: 2px;
      color: $main-color-white;
      background-color: $main-color-red;
      font-family: Work Sans;
      font-size: 12px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      &:hover {
        color: $main-color-white;
      }
    }
  }
}

@mixin view-mode_meta-info {
  .field--name-title {
    font-family: "PT Serif";
    font-size: 14px;
    font-weight: 600;
  }
  .node__meta {
    display: flex;
    color: $main-color-black;
    .field--name-field-tags {
      text-transform: uppercase;
      font-weight: 700;
      a, a.link {
        font-size: 13px;
        color: $main-color-red;
        &:hover {
          color: $main-color-black;
        }
      }
    }
  }
}

@mixin round_avatar {
  .field--name-user-picture a > img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 0;
    border-radius: 50%;
  }
}

@mixin meta-info_plus_author {
  display: flex;
  align-items: center;
  color: black;
  font-family: Work Sans;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  .meta-info {
    align-self: center;
  }
}
