@import "variables";
@import "fonts";
@import "mixins";


//header
@import "header/header";
@import "header/header-top";
@import "header/header-bottom";

//footer
@import "footer/footer";
@import "footer/region-footer-top";
@import "footer/region-footer-content";

a, a.link{
  text-decoration: none;
  border-bottom: none !important;
  color: $main-color-black;
  &:hover {
    color: $main-color-red;
  }
}

p {
  margin-block-end: 0;
}
