.region-footer-content {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  & .block-block-content > div, h2 {
    color: $main-color-black;
  }
  & .about-us {
    display: flex;
    flex-direction: column;
    max-width: 340px;
    &__title {
      @include footer-content-title;
    }
    &__body {
      font-family: PT Serif;
      font-size: 15px;
      line-height: 1.5;
      font-weight: 400;
    }
    &__social-media {
      display: flex;
      & .link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        background-color: $main-color-black;
        &:hover {
          background-color: $main-color-red;
        }
      }
    }
  }

  & .company {
    width: 197px;
    &__title {
      @include footer-content-title;
    }
    &__body {
      @include footer-body-flex;
      & .link {
        font-family: Work Sans;
        font-size: 15px;
        line-height: 30px;
        font-weight: 600;
      }
    }
  }
}

