.exclusive-content {
  position: relative;
  padding: 25px;
  box-shadow: 0 4px 20px rgb(0 0 0 / 9%);
  .exclusive-content__header {
    position: absolute;
    top: -10px;
    left: 45px;
    z-index: 5;
    color: $main-color-white;
    font-family: PT Serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 8px 12px;
    border-radius: 2px;
    background: $main-color-red;
  }

  // Styles for main block in section Exclusive content.
  .view-exclusive-content {
    display: flex;
    justify-content: space-between;
    max-height: 600px;
    .view-display-id-block_1 {
      flex: 1 0 600px;
      article .node--view-mode-teaser-full {
        margin-right: 20px;
        .node {
          .field--name-field-tags {
            display: none;
          }
          .field--name-field-special-content {
            display: inline-block;
          }
        }
      }
    }
  }

  // Styles for attachment in section Exclusive content.
  .attachment-after {
    flex: 1 1 auto;
    .view-display-id-attachment_1 {
      width: 100%;
      margin-left: 10px;
      .view-content {
        min-width: 100%;
      }
      .views-view-grid.horizontal .views-row {
        border-bottom: none;
        padding: 0;
        display: flex;
        &::after {
          display: none;
        }
        .views-col {
          max-width: 377px;
          margin: 0 10px;
          .node--view-mode-teaser {
          }
        }
        .main-image {
          .image-style-teaser {
            width: 377px;
            height: 203px;
          }
        }
        .node {
          .field--name-field-tags {
            margin: 0;
            & a {
              margin: 5px 0;
              font-family: Work Sans;
              font-size: 13px;
              line-height: 2;
              font-weight: 600;
              text-transform: uppercase;
              letter-spacing: -0.5px;
            }
          }
          .exclusive-and-content {
            @include exclusive-and-content;
            .node__title {
              margin: 8px 0 0 0;
              font-family: PT Serif;
              font-size: 16px;
              line-height: 1.3;
              font-weight: 600;
            }
          }
          .node__meta {
            display: none;
          }
        }
      }
    }
  }
}
