{% if data %}
  {{ devel_dump() }}
  <h2>Exchanges rate</h2>
  {% for currency, rate in data %}
    <canvas id="{{ currency }}" aria-label="Hello ARIA World">
     {{ currency }}  - {{ rate }}
    </canvas>
  {% endfor %}
{% endif %}
